.main-content {
  width: 100%;
  position: relative;
  &.bg-tpl-init {
    background-image: url($pathBg + "bg-login.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right right;
    padding-bottom: 120px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 200px;
      background: transparent linear-gradient(180deg, #0E3241C7 0%, #20202000 100%) 0% 0% no-repeat padding-box;
    }
  }
}

.yellow-word {
  span {
    font-weight: 800;
    padding: 6px;
    background-color: $yellow-banco;
    font-size: 25px;
    font-family: $roboto;
    line-height: 68px;
    @include media(xs) {
      font-size: 18px;
      line-height: 50px;
      
    }
  }
}

.content-title{
  padding: 20px 0;
  margin-top: 20px;
  line-height: 20px;
  position: absolute;
  >span{
    color: #fff;
  }
  &.tyc{
    position: absolute;
    right: 70px;
    top: 10px;
    @include media(xs){
      top: inherit;
      bottom: 0;
    }
    >span{
      display: block;
    
    }
    .yellow-word{
      position: static !important;
    }
  }
  &.mechanic{
   position: static;
   margin-top: 30px;
    .yellow-word{
      font-size: 25px;
      position: static !important;
    }
  }

  p {
    padding: 20px 0;
    font-family: $roboto;
    color: #fff;
    font-weight: 300;
    font-size: 18px;
    @include media(xs) {
      font-size: 14px;
      padding: 8px 0;
    }
    span {
      font-weight: 700;
    }
  }
  >span{
    color:#fff;
    font-weight: 700;
    font-size: 25px;
    @include media(xs){
      font-size: 18px;
    }

  }
}

//Main banner
.clsMainBanner {
  width: 100%;
  height: 460px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
   margin-bottom: 30px;

  .banner-int{
    position: relative;
    padding-top: 30px;
  }
  @include media(xs) {
    height: 530px;
  }
  > div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    .yellow-word {
      position: static;
      bottom: 45px;
      left: 90px;
      @include media(xs) {
        left: 10px;
        bottom: 13px;
      }
      span {
        font-size: 25px;
        line-height: 74px;
        @include media(xs) {
          font-size: 18px;
          line-height: 50px;
        }
      }
    }
  }
  &.awards {
    background-image: url($pathBg + "bg-awards.jpg");
  }
  &.alianzas {
    background-image: url($pathBg + "bg-alianzas.jpg");
  }
  &.progreso {
    background-image: url($pathBg + "bg-progreso.jpg");
  }
  &.mecanica{
    background-image: url($pathBg + "bg-mecanica.jpg");
  }
}

.content-awards-redeem {
  @include media(xs) {
    .award {
      margin: 45px auto !important;
      width: 82% !important;
    }
  }
}
.content-banner{
  h4{
    font-size: 64px;
    color:#fff;
    font-weight: 100;
    @include media(xs){
      font-size: 24px;
    }
  }
  p{
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    @include media(xs){
      font-size: 16px;
    }
  }
  h6{
    color:#fff;
    font-size: 32px;
    font-weight: 300;
  }
}

.content-title-sect {
  h3 {
    color: $blue-banco;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 0;
    @include media(xs) {
      font-size: 35px;
      text-align: center;
    }
  }
  >span {
    color: $orange;
    font-size: 32px;
    display: block;
    line-height: 36px;
    margin: 10px 0 15px 0;
    @include media(xs) {
      font-size: 30px;
      text-align: center;
    }
  }
  p {
    color: #000105;
    font-size: 22px;
    font-family: $roboto;
    font-weight: 300;
    padding-right: 25px;
    >span{
      font-weight: 700;
    }
    @include media(xs) {
      font-size: 22px;
      text-align: center;
      padding: 0 10px;
    }
  }
}

.goalsUser{
  padding-top: 35px;
}

.progress-content-items {
  display: flex;
  align-items: center;
}

//Progress Bar
.content-progress-bar {
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.16);
  border: 1px solid rgba(200, 170, 190, 1);
  text-align: center;
  background-color: #fff;
  margin: 0 auto;
  position: relative;
  padding: 16px 32px;
  border-radius: 7px;
  margin-bottom: 25px;
  @include media(xs){
    width: 95%;
  }
  h3{
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 17px;
    color: rgba(80, 80, 80, 1);
    padding-bottom: 10px;
  }

  .round-number {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .numer-monto {
    font-size: 18px;
    color: rgba(80, 80, 80, 1);
    margin: 8px 0;
  }

}
.content-not {
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  color: #6E6E6E;
  padding: 15px 0;
  text-align: center;
  font-size: 18px;
  @include media(xs) {
    font-size: 13px;
    padding: 10px 0;
  }
  .number-trans {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    @include media(xs) {
      flex-wrap: nowrap;
    }
    img {
      width: 25px;
      margin-right: 10px;
      @include media(xs) {
        width: 15px;
      }
    }
    span {
      font-size: 12px;
      font-weight: 700;
      @include media(xs) {
        font-size: 8px;
      }
      span {
        display: block;
        color: #78d110;
      }
    }
  }
}

.progress {
  height: 8px;
  border-radius: 4px;
  border: 1px solid #C8AABE;
  overflow: hidden;
  background-color: transparent;
  z-index: 1;
  position: relative;
  margin-bottom: 10px;
  @include media(xs) {
    height: 30px;
  }
  .progress-bar {
    background-color: #C8AABE;
  }
}

//Card alianzas
.clsAlianzas {
  padding: 0 0 50px 0;

  .card-alianza {
    width: 100%;
    margin: 15px auto 15px auto;
    position: relative;
    overflow: hidden;
    border-radius: 25px;
    -webkit-box-shadow: 1px -1px 13px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 1px -1px 13px -4px rgba(0,0,0,0.75);
box-shadow: 1px -1px 13px -4px rgba(0,0,0,0.75);
    .bg-alianza {
      position: absolute;
      height: 230px;
      left: 0;
      width: 100%;
    }
   .content-logo{
     display: flex;
     align-items: center;
     position: absolute;
     width: 100%;
     top: -30px;
     left: 0;
     padding-right: 8px;
     margin-bottom: 20px;
     .discount{
       h4{
         color: #00377B;
         padding-top: 35px;
         font-weight: 600;
         font-size: 22px;
        padding-left: 5px;
         font-family: $roboto;
         font-weight: 700;
       }
       span{
         color:#4C4C4C;
         font-weight: 300;
         font-size: 12px;
         opacity: .6;
       }
     }

     img{
       width: 100px;
       margin-left: 10px;
     }
   }
    .description {
      .offer{
        padding-top: 110px;
      }
      position: relative;
      color: #000000;
      font-size: 14px;
      font-family: $roboto;
      padding: 20px;  
      border-radius:0 0 30px 30px;
      margin: 0;
      min-height: 347px;
      display: flex;
      flex-direction: column;
     
     
    }
    .content-image {
      height: 230px;
      position: relative;
      border-radius: 24px;
      overflow: hidden;
    }
    .overlay {
      width: 100%;
      height: 230px;
      background-color: rgba(8, 49, 103, 0.5);
      border-radius: 25px;
      position: relative;
      .content-title {
        left: 10px;
        bottom: 8px;
        position: absolute;
        width: 60%;
        color: #fff;
        text-transform: uppercase;
        p {
          font-size: 13px;
        }
        h3 {
          font-weight: 700;
          position: relative;
          font-size: 20px;
          text-transform: uppercase;
          &::after {
            content: "";
            width: 60px;
            height: 4px;
            background-color: #fff;
            position: absolute;
            left: 0;
            top: -10px;
          }
        }
      }
    }
    a {
      display: block;
      margin: 10px 0;
      border-radius: 20px;
      width: 80%;
      margin: 10px auto;
    }
  }
  @media (max-width: 767px) {
    position: relative;
   
  }
}

.main-contentbg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  position: relative;
  height: inherit;
  &.tyc {
    background-image: url($pathBg + "bg-login.png");
    .yellow-word {
      position: absolute;
      right: 60px;
      top: 35px;
      line-height: 60px;
      @include media(xs) {
        left: 0px;
        top: 100px;
        span {
          font-size: 28px;
          line-height: 44px;
          @include media(xs){
            font-size: 18px;
            line-height: normal;
          }
        }
      }
    }
    .tyc-cont {
      background-color: #fff;
      border-radius: 30px;
      padding: 40px;
      margin-top: 60px;
      @include media(xs) {
        padding: 40px 20px;
      }
      h2 {
        color: $blue-lg;
        font-family: $roboto;
        font-weight: 700;
        margin: 20px 0;
        font-size: 36px;
        @include media(xs){
          font-size: 25px;
          margin: 10px 0;
        }
      }
      .scrl-tyc {
        padding: 20px 20px 0 0;
        height: 450px;
        overflow-y: scroll;
        margin-bottom: 40px;
        color: #4b4b4b;
        font-size: 14px;
        &::-webkit-scrollbar-track {
          -webkit-box-shadow: inset 0 0 6px #d5d5d5;
          background-color: #f5f5f5;
        }
        &::-webkit-scrollbar {
          width: 6px;
          background-color: #f5f5f5;
        }
        &::-webkit-scrollbar-thumb {
          background-color: #f4f4f4;
        }
      }
      a {
        display: block;
        width: 70%;
        @include media(xs) {
          width: 95%;
        }
      }
      @media (max-width: 767px) {
        margin-top: 110px;
      }
    }
    &.not-found {
      background-image: url($pathBg + "bg-404.png") !important;
      padding: 0 0 120px 0;
      .content-not-f {
        color: #fff;
        text-align: center;
        position: relative;
        @include media(xs){
          padding-top: 80px;
        }
        &::after {
          content: "";
          position: absolute;
          top: 0;
          width: 120px;
          height: 8px;
          background-color: $yellow-banco;
          left: calc(50% - 60px);
        }
        p {
          font-weight: 900;
          font-size: 120px;
        }
        span {
          font-size: 60px;
          font-weight: 700;
          @include media(xs){
            font-size: 45px;
          }
        }
        a {
          display: block;
          width: 40%;
          margin: 50px auto;
          @include media(xs) {
            width: 60%;
          }
        }
      }
    }
  }
}


.description-basic {
  p {
    font-size: 32px;
    color: #505050;
    font-weight: 100;
  }

  strong {
    margin-top: 31px;
    color: #14317D;
    font-weight: 600;
  }
}