.faq-content {
    margin: 56px 0 124px;
    button {
        padding-left: 0;
        &.btn {
            text-align: left;
            color: #505050;
            text-decoration: none;
            display: flex;
            width: 100%;
            font-size: 22px;
            position: relative;
            padding-right: 50px;
            @include media(xs){
                padding-right: 25px !important;
            }
            span {
                padding-right: 8px;
                font-weight: 900;
                font-size: 28px;
                @include media(xs){
                    font-size: 22px;
                }
            }
            img {
                transition: .5s ease;
                position: absolute;
                top: 50%;
                transform: translate(0, -50%);
                right: 20px;
                @include media(xs){
                    width: 30px;
                    right: -5px;
                }
            }
        }
    }

    .card {
        border: none;
        border-bottom: solid #8CAFBE 2px;
        .card-header {
            background-color: transparent;
            padding: 0;
            border: none;
        }

        .card-body {
            padding-left: 0;
            padding-right: 100px;
        }
    }
}

.contenttyc {
    padding: 70px 0 40px 0;
    @include media(xs){
        padding-top: 20px;
        padding-bottom: 190px;
    }
    .card {
        margin-bottom: 10px;
        -webkit-box-shadow: 0px 2px 14px -2px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 2px 14px -2px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 2px 14px -2px rgba(0, 0, 0, 0.75);
    }
}

.active-item {
    transform: rotate(180deg);
}